.settings-panel-container {
  height: 100%;
  .header-section {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .back-button {
    border: 0px;
    background: white;
  }

  .content-wrapper {
    width: 85%;
  }

  .main-content-section {
    border: 1px solid #eeeeee;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-label {
    width: 90%;
    text-align: left;
    color: gray;
    margin-bottom: 8px;
  }

  .textarea-input {
    width: 90%;
    min-height: 50px;
    border-color: #eeeeee;
  }
}
