.flowbuilder-container {
  height: 100%;

  .header-container {
    height: 5%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 30px;
    align-items: center;
    background: #f4f3f2;

    .inner-container {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .message-container {
      width: 110px;
      font-size: 12px;
      height: 30px;
      border-radius: 5px;
      display: none;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }

    #flowInvalid {
      background: #fbcccb;
    }

    #flowValid {
      background: green;
    }

    .save-button {
      background: white;
      width: 100px;
      font-size: 12px;
      height: 30px;
      border: 1px solid gray;
      border-radius: 5px;
      font-weight: bold;
    }
  }

  .flowbuilder-content-section {
    height: 95%;
    display: flex;
  }

  .reactflow-wrapper {
    width: 75%;
    height: 100%;
  }

  .panel-container {
    width: 25%;
    border: 1px solid #eeeeee;
    height: 100%;
  }
}
