.outer-container {
  height: 100%;
}

.main-content-section {
  height: 95%;
  display: flex;
}

.reactflow-wrapper {
  width: 75%;
  height: 100%;
}

.panel-container {
  width: 25%;
  border: 1px solid #eeeeee;
  height: 100%;
}

